<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Internships</title>
  <link rel="stylesheet" href="../static/intern.css">
  </head>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
<body>
  
<div class="container">
  <canvas id="starsCanvas"></canvas> 
  
  <!-- Internship 1 -->
  <div class="internship" onclick="toggleTasks(this)">
    <div class="header">
      <img src="../static/images/aimers.jpeg" alt="Company 1 Logo">
      <div class="company-name">AIMER Society - Artificial Intelligence Medical and Engineering Researchers Society</div>
    </div>
    <div class="tasks">
      <div class="text-content">
        <ul>
          <li>Artificial Intelligence Intern</li>
          <li>May 2024-June 2024</li>
          <li>Remote</li>
        </ul>
        <div>
        Tasks:
          <ul>
            <li><a href="https://github.com/Revanth1310/AI_telegram-bot" target="_blank">AI Telegram Bot</a></li>
            <li><a href="https://github.com/Revanth1310/vqa" target="_blank">Visual Questioning Answering</a></li>
            <li><a href="https://github.com/Revanth1310/object-detection" target="_blank">Object Detection</a></li>
          </ul>
        </div>
      </div>
      Certificate:
        <ul>
          <li><img src="../static/images/image18.jpg" alt="Certificate" onclick="openImageModal(this.src)"></li>
        </ul>
    </div>
  </div>

  <!-- Internship 2 -->
  <div class="internship" onclick="toggleTasks(this)">
    <div class="header">
      <img src="../static/images/edunet.jpeg" alt="Company 2 Logo">
      <div class="company-name">Edunet Foundation</div>
    </div>
    <div class="tasks">
        <ul>
          <li>Internship on AI</li>
          <li>Nov 2024-Dec 2024</li>
          <li>Remote</li>
        </ul>
        <div>
        Project:
          <ul>
            <li><a href="https://github.com/Revanth1310/chatbot" target="_blank">Chatbot</a></li>
          </ul>
        </div>
        Certificate:
        <ul>
          <li><img src="../static/images/image8.jpg" alt="Certificate" onclick="openImageModal(this.src)"></li>
        </ul>
      </div> 
  </div>

  <!-- Internship 3 -->
  <div class="internship" onclick="toggleTasks(this)">
    <div class="header">
      <img src="../static/images/elevate.jpeg" alt="Company 3 Logo">
      <div class="company-name">ELEVATE LABS</div>
    </div>
    <div class="tasks">
      <ul>
        <li>AIML Intern</li>
        <li>April 2025</li>
        <li>Remote</li>
      </ul>
      <div>
        Projects:
        <ul>
          <li><a href="https://huggingface.co/spaces/Revanth1310/AgriScan/tree/main" target="_blank">AgriScan</a>
</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Internship 4 -->
  <div class="internship" onclick="toggleTasks(this)">
    <div class="header">
      <img src="../static/images/techno.jpeg" alt="Company 4 Logo">
      <div class="company-name">TechnoHacks EduTech Official</div>
    </div>
    <div class="tasks">
      <ul>
        <li>Machine Learning Intern</li>
        <li>April 2025</li>
        <li>Remote | Project-based Internship</li>
      </ul>
      <div>
        Tasks:
        <ul>
          <li><a href="https://github.com/Revanth1310/techoHacks_projects/tree/main/Data%20Preprocessing" target="_blank">Data Preprocessing</a></li>
          <li><a href="https://github.com/Revanth1310/techoHacks_projects/tree/main/Decision%20Tree%20Classifier" target="_blank">Decision Tree Classifier</a></li>
          <li><a href="https://github.com/Revanth1310/techoHacks_projects/tree/main/Exploratory%20Data%20Analysis%20(EDA)" target="_blank">Exploratory Data Analysis (EDA)</a></li>
          <li><a href="https://github.com/Revanth1310/techoHacks_projects/tree/main/Feature%20Engineering" target="_blank">Feature Engineering</a></li>
          <li><a href="https://github.com/Revanth1310/techoHacks_projects/tree/main/Hyperparameter%20Tuning" target="_blank">Hyperparameter Tuning</a></li>
          <li><a href="https://github.com/Revanth1310/techoHacks_projects/tree/main/K-Means%20Clustering" target="_blank">K-Means Clustering</a></li>
          <li><a href="https://github.com/Revanth1310/techoHacks_projects/tree/main/Linear%20Regression" target="_blank">Linear Regression</a></li>
          <li><a href="https://github.com/Revanth1310/techoHacks_projects/tree/main/ML%20Prediction%20Tool" target="_blank">ML Prediction Tool</a></li>
          <li><a href="https://github.com/Revanth1310/techoHacks_projects/tree/main/Model%20Evaluation%20Metrics" target="_blank">Model Evaluation Metrics</a></li>
          <li><a href="https://github.com/Revanth1310/techoHacks_projects/tree/main/NLP" target="_blank">NLP</a></li>
          <li><a href="https://github.com/Revanth1310/techoHacks_projects/tree/main/Neural%20Network%20Basics" target="_blank">Neural Network Basics</a></li>
          <li><a href="https://huggingface.co/spaces/Revanth1310/AgriScan/tree/main" target="_blank">plant diseases detetion</a>-<a href="https://huggingface.co/spaces/Revanth1310/AgriScan" target="_blank" style="color: red;">Link</a></li>
        </ul>
      </div>
      <div>
        Certificate
        <ul><li><img src="../static/images/image19.jpeg" alt="Certificate" onclick="openImageModal(this.src)"></li></ul>
      </div>
    </div>
  </div> 
<div id="imageModal">
  <span class="close" onclick="closeModal()">&#x2716;</span>
  <img id="modalImage" class="modal-content" src="" alt="Full Achievement">
</div>
     
  <div class="internship" onclick="toggleTasks(this)">
    <div class="header">
      <img src="../static/images/microsoft.jpeg" alt="Company 5 Logo">
      <div class="company-name">Microsoft</div>
    </div>
    <div class="tasks">
      <ul>
        <li>AI Azure</li>
        <li>June 2025-July 2025</li>
        <li>Remote</li>
      </ul>
      <div>
        Projects:
        <ul>
          <li><a href="https://github.com/Revanth1310/agri-bot" target="_blank">AgriBot</a></li></ul>
      </div>
    </div>
  </div>
  <div class="internship" onclick="toggleTasks(this)">
    <div class="header">
      <img src="../static/images/smartinternz.jpeg" alt="Company 6 Logo">
      <div class="company-name">Smartinternz</div>
    </div>
    <div class="tasks">
      <ul>
        <li>Generative AI</li>
        <li>June 2025-July 2025</li>
        <li>Remote</li>
      </ul>
    </div>
  </div>
</div>
<br><br>
<!-- Header Bar -->
    
    
<div id="contact"><br><br>
  <h1 class="text-center" style="color:deepskyblue">Contact</h1>

  <div class="contact-wrapper">
    <!-- Left: Contact Info -->
    <div class="contact-info">
      <h3>Contact Info</h3>
      <a href="mailto:revanthchandika@gmail.com">
        <img src="../static/images/email.png" alt="Email Icon"> revanthchandika@gmail.com
      </a><br>
      <a href="tel:+916302321665">
        <img src="../static/images/phone.png" alt="Phone Icon"> +91 6302321665
      </a><br>
      <a>
        <img src="../static/images/location.jpeg" alt="Location Icon">
        2-138, Chittipalem, Machilipatnam, Krishna, Andhra Pradesh, India - 521366
      </a>
    </div>

    <!-- Right: Feedback Form -->
    <div id="form-container">
      <form class="feedback-form" onsubmit="sendMail(event)">
        <h3 style="text-align: center;">Feedback Form</h3>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" class="form-control" required><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="form-control" required><br>
        <label for="message">Message:</label>
        <textarea id="feedback" name="feedback" class="form-control" rows="4" required></textarea><br>
        <input type="submit" value="Submit" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>

    <!--contact details -->
       
    <footer class="text-center mt-5">
        <p>&copy; 2025 Chandika Purna Revanth | All Rights Reserved</p>
    </footer>

<script src="../scripts/intern.js"></script>

</body>
</html>
